{% extends 'cliente/base.html' %}
{% load static %}

{% block titulo %}
Shatalito - Pedido Pagado
{% endblock %}

{% block Subtitulo %}¡Pedido Confirmado!{% endblock %}

{% block contenido %}
    <main class="pedido-pagado-principal">
        <div class="container mt-5">
            <h2>Gracias por tu pedido.</h2>
            <div id="payment-result">
                <p>Procesando resultado del pago...</p>
            </div>
            <a href="{% url 'cliente:index' table=table %}" class="button">Volver al Inicio</a>
        </div>
    </main>



{% endblock %}